body {
    font-family: 'Roboto', sans-serif;
    background-color: #111111;
    color: #333;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}